# Python
__pycache__/
*.pyc

.venv/

# Logs
*.log
**/*.log

.env

# Node.js
node_modules/
dist/

# Generated images
frontend/public/generated_images/

# macOS
.DS_Store

# VS Code
.vscode/

# Gemini related
.gemini/
