fastapi
uvicorn
python-dotenv
requests
pydantic
openai
googlemaps
wikipedia
httpx
google-adk
google-cloud-storage
# OpenTelemetry (ADK recommended)
opentelemetry-exporter-gcp-logging
opentelemetry-exporter-gcp-monitoring
opentelemetry-exporter-gcp-trace
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-vertexai
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-google-genai
opentelemetry-instrumentation-httpx==0.58b0
opentelemetry-sdk