fastapi
uvicorn
python-dotenv
requests
pydantic
openai
googlemaps
wikipedia
httpx
google-adk
google-cloud-storage
# OpenTelemetry (ADK recommended)
opentelemetry-instrumentation-google-genai
opentelemetry-exporter-gcp-logging
opentelemetry-exporter-gcp-monitoring
opentelemetry-exporter-otlp # Includes opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-vertexai