fastapi
uvicorn
python-dotenv
requests
pydantic
openai
googlemaps
wikipedia
httpx
google-adk
google-cloud-storage
# OpenTelemetry
opentelemetry-api==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-exporter-otlp==1.37.0
opentelemetry-instrumentation==0.58b0
opentelemetry-instrumentation-fastapi==0.58b0
opentelemetry-instrumentation-requests==0.58b0
opentelemetry-instrumentation-httpx==0.58b0
opentelemetry-instrumentation-google-genai==0.5b0
opentelemetry-exporter-gcp-logging
opentelemetry-exporter-gcp-monitoring
